.cake {
  background: #ffff;
  border-radius: 10px;
  position: absolute;
  width: 5px;
  height: 35px;
  transform: translateY(-380px);
  backface-visibility: hidden;
  animation: in 500ms 6s ease-out forwards;
}

.cake-before,
.cake after {
  background: rgba(255,0,0,0.4);
  content: ""
  position: absolute;
  width: 100%
  height: 2.22222222222px;
  
  
